
<div class="card m-3">
  <div class="card-header">
    <h1 class="text-center">Welcome to your Cookbook 📗</h1>
  </div>

  <div class="card text-center">
    <div class="card-header m-3">
      <h2>Recipes</h2>
    </div>
      <% @recipes.each_with_index do |recipe, index| %>
          <div class="card-body">
            <h3 class="card-title"> <%= recipe.name %></h3>
            <p class=" card-subtitle mb-2 text-muted"><i class="fa-solid fa-star"></i> <%= recipe.rating %> | <%= recipe.prep_time %> </p>
            <p> <%= recipe.description %> </p>
            <div class="card-footer text-muted">
              <a href="/recipes/<%= index %>">Delete Recipe</a>
            </div>
          </div>
      <% end %>
      </div>

    <a href="/new" class="btn btn-outline-success">Add a recipe</a>
  </div>
</div>
